# Environnement virtuel
.venv/
env/
venv/

# Fichiers Python compilés
__pycache__/
*.pyc

# Notebooks Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Fichiers système
.DS_Store

# Données (optionnel)
data/

